<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form class="" action="/v1.2/Plan/edit" method="post" name="form_name">

            <div class="">
                <label for="">计划名称</label>
                <input type="text" name="plan_name" value="">

            </div>
            <div class="">
                <label for="">计划id</label>
                <input type="text" name="plan_id" value="5">

            </div>
            <div class="">
                <label for="">公众号选择</label>
                <select class="" name="pn_id">
                    <option value="17">测试公众号</option>
                    <option value="2">111</option>
                </select>
            </div>
            <div class="">
                <label for="">结算类型</label>
                <input type="radio" name="settlement_type" value="1">净增粉丝</br>
                <input type="radio" name="settlement_type" value="2">新增粉丝
            </div>
            <div class="">
                <label for="">投放日期</label>
                <input type="date" name="start_date" value="">
                <input type="date" name="end_date" value="">
            </div>
            <div class="">
                <label for="">代理公司</label>
                <input type="text" name="agency_company" value="百米总部">
            </div>
            <div class="">
                <label for="">增加粉丝</label>
                <input type="text" name="gaining_followers" value="">
            </div>
            <div class="">
                <label for="">推广区域</label>
                <select class="" name="sc_id">
                    <option value="1101">北京</option>
                    <option value="4403">深圳</option>
                </select>

            </div>
            <div class="">
                <label for="">预计消耗</label>
                <input type="text" name="order_amount" value="">
            </div>
            <button type="submit" name="button">提交</button>

        </form>
    </body>
</html>
