<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form class="" action="/v1.2/Officialaccount/create" method="post" enctype="multipart/form-data" name="form_name">

            <div class="">
                <label for="">logo</label>
                <input type="file" name="logo" value="">

            </div>
            <div class="">
                <input type="hidden" name="form_name" value="form_name">

            </div>
            <div class="">
                <label for="">公众号名称</label>
                <input type="text" name="pn_name" value="">

            </div>
            <div class="">
                <label for="">公众号类型</label>
                <input type="radio" name="pn_type" value="1">订阅号</br>
                <input type="radio" name="pn_type" value="2">服务号
            </div>
            <div class="">
                <label for="">微信号</label>
                <input type="text" name="pn_number" value="">
            </div>
            <div class="">
                <label for="">门店名称</label>
                <input type="text" name="shop_name" value="">
            </div>
            <div class="">
                <label for="">Appid</label>
                <input type="text" name="pn_appid" value="">
            </div>
            <div class="">
                <label for="">shopid</label>
                <input type="text" name="shop_id" value="">
            </div>
            <div class="">
                <label for="">ssid</label>
                <input type="text" name="ssid" value="">
            </div>
            <div class="">
                <label for="">pn_appsecret</label>
                <input type="text" name="pn_appsecret" value="">
            </div>
            <div class="">
                <label for="">secret_key</label>
                <input type="text" name="secret_key" value="">
            </div>
            <div class="">
                <label for="">mobile_decrypt_key</label>
                <input type="text" name="mobile_decrypt_key" value="">
            </div>
            <div class="">
                <label for="">运营类别</label>
                <input type="radio" name="public_cate" value="1">全国</br>
                <input type="radio" name="public_cate" value="2">自营
            </div>
            <div class="">
                <label for="">二维码</label>
                <input type="file" name="pn_image" value="">

            </div>


            <button type="submit" name="button">提交</button>

        </form>
    </body>
</html>
